#s-0272b2e7-84c5-4192-ac92-b1ff28472cb5 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0272b2e7-84c5-4192-ac92-b1ff28472cb5 #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0272b2e7-84c5-4192-ac92-b1ff28472cb5 #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0272b2e7-84c5-4192-ac92-b1ff28472cb5 #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0272b2e7-84c5-4192-ac92-b1ff28472cb5 #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0272b2e7-84c5-4192-ac92-b1ff28472cb5 #s-Rich_text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0272b2e7-84c5-4192-ac92-b1ff28472cb5 #s-Rich_text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0272b2e7-84c5-4192-ac92-b1ff28472cb5 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0272b2e7-84c5-4192-ac92-b1ff28472cb5 #s-Label_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0272b2e7-84c5-4192-ac92-b1ff28472cb5 #s-Label_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0272b2e7-84c5-4192-ac92-b1ff28472cb5 #s-Label_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0272b2e7-84c5-4192-ac92-b1ff28472cb5 #s-Label_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0272b2e7-84c5-4192-ac92-b1ff28472cb5 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0272b2e7-84c5-4192-ac92-b1ff28472cb5 #s-Label_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0272b2e7-84c5-4192-ac92-b1ff28472cb5 #s-Label_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0272b2e7-84c5-4192-ac92-b1ff28472cb5 #s-Label_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0272b2e7-84c5-4192-ac92-b1ff28472cb5 #s-Label_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-0272b2e7-84c5-4192-ac92-b1ff28472cb5 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}