#s-521523b6-3a64-4908-82da-e3cac952d842 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-521523b6-3a64-4908-82da-e3cac952d842 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-521523b6-3a64-4908-82da-e3cac952d842 #s-Image_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 89px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-521523b6-3a64-4908-82da-e3cac952d842 #s-Label_4 {
  position: absolute;
  top: 88px;
  left: 0px;
  width: 71px;
  height: 30px;
  background-color: #992124;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #992124;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #992124;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #992124;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #992124;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: underline;
  font-family: Roboto-Light,Arial;
  font-size: 14.0pt;
  line-height: 14.0pt;
}
#s-521523b6-3a64-4908-82da-e3cac952d842 #s-Label_4 .valign {
  vertical-align: middle;
}
#s-521523b6-3a64-4908-82da-e3cac952d842 #s-Label_5 {
  position: absolute;
  top: 88px;
  left: 72px;
  width: 99px;
  height: 30px;
  background-color: #992124;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #992124;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #992124;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #992124;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #992124;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: underline;
  font-family: Roboto-Light,Arial;
  font-size: 14.0pt;
  line-height: 14.0pt;
}
#s-521523b6-3a64-4908-82da-e3cac952d842 #s-Label_5 .valign {
  vertical-align: middle;
}
#s-521523b6-3a64-4908-82da-e3cac952d842 #s-Label_6 {
  position: absolute;
  top: 88px;
  left: 172px;
  width: 58px;
  height: 30px;
  background-color: #992124;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #992124;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #992124;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #992124;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #992124;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: underline;
  font-family: Roboto-Light,Arial;
  font-size: 14.0pt;
  line-height: 14.0pt;
}
#s-521523b6-3a64-4908-82da-e3cac952d842 #s-Label_6 .valign {
  vertical-align: middle;
}
#s-521523b6-3a64-4908-82da-e3cac952d842 #s-Label_7 {
  position: absolute;
  top: 88px;
  left: 231px;
  width: 127px;
  height: 30px;
  background-color: #992124;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #992124;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #992124;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #992124;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #992124;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: underline;
  font-family: Roboto-Light,Arial;
  font-size: 14.0pt;
  line-height: 14.0pt;
}
#s-521523b6-3a64-4908-82da-e3cac952d842 #s-Label_7 .valign {
  vertical-align: middle;
}
#s-521523b6-3a64-4908-82da-e3cac952d842 #s-News_logged {
  position: absolute;
  top: 120px;
  left: 0px;
  width: 360px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  box-shadow: none;
}
#s-521523b6-3a64-4908-82da-e3cac952d842 #s-News_logged tr.odd {
  background-color: #FFFFFF;
  background-image: none;
}
#s-521523b6-3a64-4908-82da-e3cac952d842 #s-News_logged tr.even {
  background-color: #F0F0F0;
  background-image: none;
}
#s-521523b6-3a64-4908-82da-e3cac952d842 #s-Header_1 {
  background-color: transparent;
  background-image: none;
}
#s-521523b6-3a64-4908-82da-e3cac952d842 #s-Row_cell_1 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-521523b6-3a64-4908-82da-e3cac952d842 #s-Row_cell_1 .verticalalign {
  vertical-align: middle;
}
#s-521523b6-3a64-4908-82da-e3cac952d842 #s-Row_cell_1 {
  width: 118px;
  height: 34px;
  background-color: #FFFFFF;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}
#s-521523b6-3a64-4908-82da-e3cac952d842 #s-Label_1 {
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-521523b6-3a64-4908-82da-e3cac952d842 #s-Label_1 .valign {
  vertical-align: middle;
}
#s-521523b6-3a64-4908-82da-e3cac952d842 #s-Row_cell_3 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-521523b6-3a64-4908-82da-e3cac952d842 #s-Row_cell_3 .verticalalign {
  vertical-align: middle;
}
#s-521523b6-3a64-4908-82da-e3cac952d842 #s-Row_cell_3 {
  width: 118px;
  height: 34px;
  background-color: #FFFFFF;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}
#s-521523b6-3a64-4908-82da-e3cac952d842 #s-Label_2 {
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-521523b6-3a64-4908-82da-e3cac952d842 #s-Label_2 .valign {
  vertical-align: middle;
}
#s-521523b6-3a64-4908-82da-e3cac952d842 #s-Row_cell_5 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-521523b6-3a64-4908-82da-e3cac952d842 #s-Row_cell_5 .verticalalign {
  vertical-align: middle;
}
#s-521523b6-3a64-4908-82da-e3cac952d842 #s-Row_cell_5 {
  width: 120px;
  height: 34px;
  background-color: #FFFFFF;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}
#s-521523b6-3a64-4908-82da-e3cac952d842 #s-Label_3 {
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-521523b6-3a64-4908-82da-e3cac952d842 #s-Label_3 .valign {
  vertical-align: middle;
}
#s-521523b6-3a64-4908-82da-e3cac952d842 #s-News_logged .s-Current_row_1 {
  background-color: transparent;
  background-image: none;
}
#s-521523b6-3a64-4908-82da-e3cac952d842 #s-News_logged .s-Row_cell_2 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-521523b6-3a64-4908-82da-e3cac952d842 #s-News_logged .s-Row_cell_2 .verticalalign {
  vertical-align: middle;
}
#s-521523b6-3a64-4908-82da-e3cac952d842 #s-News_logged .s-Row_cell_2 {
  width: 118px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}
#s-521523b6-3a64-4908-82da-e3cac952d842 #s-News_logged .s-Input_1 {
  width: 120px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}
#s-521523b6-3a64-4908-82da-e3cac952d842 #s-News_logged .s-Input_1 .valign {
  vertical-align: middle;
  line-height: 9.0pt;
}
#s-521523b6-3a64-4908-82da-e3cac952d842 #s-News_logged .s-Input_1 input {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-521523b6-3a64-4908-82da-e3cac952d842 #s-News_logged .s-Row_cell_4 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-521523b6-3a64-4908-82da-e3cac952d842 #s-News_logged .s-Row_cell_4 .verticalalign {
  vertical-align: middle;
}
#s-521523b6-3a64-4908-82da-e3cac952d842 #s-News_logged .s-Row_cell_4 {
  width: 118px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}
#s-521523b6-3a64-4908-82da-e3cac952d842 #s-News_logged .s-Input_2 {
  width: 120px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}
#s-521523b6-3a64-4908-82da-e3cac952d842 #s-News_logged .s-Input_2 .valign {
  vertical-align: middle;
  line-height: 9.0pt;
}
#s-521523b6-3a64-4908-82da-e3cac952d842 #s-News_logged .s-Input_2 input {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-521523b6-3a64-4908-82da-e3cac952d842 #s-News_logged .s-Row_cell_6 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-521523b6-3a64-4908-82da-e3cac952d842 #s-News_logged .s-Row_cell_6 .verticalalign {
  vertical-align: middle;
}
#s-521523b6-3a64-4908-82da-e3cac952d842 #s-News_logged .s-Row_cell_6 {
  width: 120px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}
#s-521523b6-3a64-4908-82da-e3cac952d842 #s-News_logged .s-Input_3 {
  width: 120px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}
#s-521523b6-3a64-4908-82da-e3cac952d842 #s-News_logged .s-Input_3 .valign {
  vertical-align: middle;
  line-height: 9.0pt;
}
#s-521523b6-3a64-4908-82da-e3cac952d842 #s-News_logged .s-Input_3 input {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-521523b6-3a64-4908-82da-e3cac952d842 #s-Image_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 89px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-521523b6-3a64-4908-82da-e3cac952d842 #s-Label_8 {
  position: absolute;
  top: 88px;
  left: 0px;
  width: 71px;
  height: 30px;
  background-color: #992124;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #992124;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #992124;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #992124;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #992124;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: underline;
  font-family: Roboto-Light,Arial;
  font-size: 14.0pt;
  line-height: 14.0pt;
}
#s-521523b6-3a64-4908-82da-e3cac952d842 #s-Label_8 .valign {
  vertical-align: middle;
}
#s-521523b6-3a64-4908-82da-e3cac952d842 #s-Label_9 {
  position: absolute;
  top: 88px;
  left: 72px;
  width: 99px;
  height: 30px;
  background-color: #992124;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #992124;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #992124;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #992124;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #992124;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: underline;
  font-family: Roboto-Light,Arial;
  font-size: 14.0pt;
  line-height: 14.0pt;
}
#s-521523b6-3a64-4908-82da-e3cac952d842 #s-Label_9 .valign {
  vertical-align: middle;
}
#s-521523b6-3a64-4908-82da-e3cac952d842 #s-Label_10 {
  position: absolute;
  top: 88px;
  left: 172px;
  width: 58px;
  height: 30px;
  background-color: #992124;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #992124;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #992124;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #992124;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #992124;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: underline;
  font-family: Roboto-Light,Arial;
  font-size: 14.0pt;
  line-height: 14.0pt;
}
#s-521523b6-3a64-4908-82da-e3cac952d842 #s-Label_10 .valign {
  vertical-align: middle;
}
#s-521523b6-3a64-4908-82da-e3cac952d842 #s-Label_11 {
  position: absolute;
  top: 88px;
  left: 231px;
  width: 127px;
  height: 30px;
  background-color: #992124;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #992124;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #992124;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #992124;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #992124;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: underline;
  font-family: Roboto-Light,Arial;
  font-size: 14.0pt;
  line-height: 14.0pt;
}
#s-521523b6-3a64-4908-82da-e3cac952d842 #s-Label_11 .valign {
  vertical-align: middle;
}
#s-521523b6-3a64-4908-82da-e3cac952d842 #s-Image_3 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 89px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-521523b6-3a64-4908-82da-e3cac952d842 #s-Label_12 {
  position: absolute;
  top: 88px;
  left: 0px;
  width: 71px;
  height: 30px;
  background-color: #992124;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #992124;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #992124;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #992124;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #992124;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: underline;
  font-family: Roboto-Light,Arial;
  font-size: 14.0pt;
  line-height: 14.0pt;
}
#s-521523b6-3a64-4908-82da-e3cac952d842 #s-Label_12 .valign {
  vertical-align: middle;
}
#s-521523b6-3a64-4908-82da-e3cac952d842 #s-Label_13 {
  position: absolute;
  top: 88px;
  left: 72px;
  width: 99px;
  height: 30px;
  background-color: #992124;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #992124;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #992124;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #992124;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #992124;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: underline;
  font-family: Roboto-Light,Arial;
  font-size: 14.0pt;
  line-height: 14.0pt;
}
#s-521523b6-3a64-4908-82da-e3cac952d842 #s-Label_13 .valign {
  vertical-align: middle;
}
#s-521523b6-3a64-4908-82da-e3cac952d842 #s-Label_14 {
  position: absolute;
  top: 88px;
  left: 172px;
  width: 58px;
  height: 30px;
  background-color: #992124;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #992124;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #992124;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #992124;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #992124;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: underline;
  font-family: Roboto-Light,Arial;
  font-size: 14.0pt;
  line-height: 14.0pt;
}
#s-521523b6-3a64-4908-82da-e3cac952d842 #s-Label_14 .valign {
  vertical-align: middle;
}
#s-521523b6-3a64-4908-82da-e3cac952d842 #s-Label_15 {
  position: absolute;
  top: 88px;
  left: 231px;
  width: 127px;
  height: 30px;
  background-color: #992124;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #992124;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #992124;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #992124;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #992124;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: underline;
  font-family: Roboto-Light,Arial;
  font-size: 14.0pt;
  line-height: 14.0pt;
}
#s-521523b6-3a64-4908-82da-e3cac952d842 #s-Label_15 .valign {
  vertical-align: middle;
}
.ui-page {
  overflow-x: hidden;
}
#s-521523b6-3a64-4908-82da-e3cac952d842 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}