#s-068c35a3-a3eb-4a0e-b3fd-d826c3f09439 #s-Label_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #992124;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #992124;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #992124;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #992124;
  -ms-transform: rotate(0.0deg);
}
#s-068c35a3-a3eb-4a0e-b3fd-d826c3f09439 #s-Label_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #992124;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #992124;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #992124;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #992124;
  -ms-transform: rotate(0.0deg);
}
#s-068c35a3-a3eb-4a0e-b3fd-d826c3f09439 #s-Label_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #992124;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #992124;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #992124;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #992124;
  -ms-transform: rotate(0.0deg);
}
#s-068c35a3-a3eb-4a0e-b3fd-d826c3f09439 #s-Label_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #992124;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #992124;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #992124;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #992124;
  -ms-transform: rotate(0.0deg);
}
#s-068c35a3-a3eb-4a0e-b3fd-d826c3f09439 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-068c35a3-a3eb-4a0e-b3fd-d826c3f09439 #s-Rich_text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-068c35a3-a3eb-4a0e-b3fd-d826c3f09439 #s-Rich_text_2 {
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-068c35a3-a3eb-4a0e-b3fd-d826c3f09439 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}