#s-af9593a3-a42d-48a7-8042-039dd48c3532 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-af9593a3-a42d-48a7-8042-039dd48c3532 #s-Label_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #992124;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #992124;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #992124;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #992124;
  -ms-transform: rotate(0.0deg);
}
#s-af9593a3-a42d-48a7-8042-039dd48c3532 #s-Label_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #992124;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #992124;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #992124;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #992124;
  -ms-transform: rotate(0.0deg);
}
#s-af9593a3-a42d-48a7-8042-039dd48c3532 #s-Label_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #992124;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #992124;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #992124;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #992124;
  -ms-transform: rotate(0.0deg);
}
#s-af9593a3-a42d-48a7-8042-039dd48c3532 #s-Label_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #992124;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #992124;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #992124;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #992124;
  -ms-transform: rotate(0.0deg);
}
#s-af9593a3-a42d-48a7-8042-039dd48c3532 #s-Row_cell_3 {
  position: relative;
}
#s-af9593a3-a42d-48a7-8042-039dd48c3532 #s-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#s-af9593a3-a42d-48a7-8042-039dd48c3532 #s-latestNews .s-Row_cell_4 {
  position: relative;
}
#s-af9593a3-a42d-48a7-8042-039dd48c3532 #s-topStories_lab {
  -ms-transform: rotate(0.0deg);
}
#s-af9593a3-a42d-48a7-8042-039dd48c3532 #s-extNews_lab {
  -ms-transform: rotate(0.0deg);
}
#s-af9593a3-a42d-48a7-8042-039dd48c3532 #s-latestNews_lab {
  -ms-transform: rotate(0.0deg);
}
#s-af9593a3-a42d-48a7-8042-039dd48c3532 #s-Row_cell_1 {
  position: relative;
}
#s-af9593a3-a42d-48a7-8042-039dd48c3532 #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-af9593a3-a42d-48a7-8042-039dd48c3532 #s-topStories .s-Row_cell_2 {
  position: relative;
}
#s-af9593a3-a42d-48a7-8042-039dd48c3532 #s-Row_cell_5 {
  position: relative;
}
#s-af9593a3-a42d-48a7-8042-039dd48c3532 #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-af9593a3-a42d-48a7-8042-039dd48c3532 #s-extNews .s-Row_cell_6 {
  position: relative;
}
.ui-page {
  overflow-x: hidden;
}
#s-af9593a3-a42d-48a7-8042-039dd48c3532 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}