#s-1aa45bc7-5b70-41f9-811b-eb233d15fd7e #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1aa45bc7-5b70-41f9-811b-eb233d15fd7e #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1aa45bc7-5b70-41f9-811b-eb233d15fd7e #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1aa45bc7-5b70-41f9-811b-eb233d15fd7e #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1aa45bc7-5b70-41f9-811b-eb233d15fd7e #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1aa45bc7-5b70-41f9-811b-eb233d15fd7e #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1aa45bc7-5b70-41f9-811b-eb233d15fd7e #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1aa45bc7-5b70-41f9-811b-eb233d15fd7e #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1aa45bc7-5b70-41f9-811b-eb233d15fd7e #s-Button_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1aa45bc7-5b70-41f9-811b-eb233d15fd7e #s-LoginBtn {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35) ;
  filter: alpha(opacity=35) ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-1aa45bc7-5b70-41f9-811b-eb233d15fd7e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}