#s-068c35a3-a3eb-4a0e-b3fd-d826c3f09439 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-068c35a3-a3eb-4a0e-b3fd-d826c3f09439 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-068c35a3-a3eb-4a0e-b3fd-d826c3f09439 #s-Label_4 {
  position: absolute;
  top: 88px;
  left: 0px;
  width: 61px;
  height: 30px;
  background-color: #992124;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #992124;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #992124;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #992124;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #992124;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: underline;
  font-family: Roboto-Light,Arial;
  font-size: 14.0pt;
  line-height: 14.0pt;
}
#s-068c35a3-a3eb-4a0e-b3fd-d826c3f09439 #s-Label_4 .valign {
  vertical-align: middle;
}
#s-068c35a3-a3eb-4a0e-b3fd-d826c3f09439 #s-Label_5 {
  position: absolute;
  top: 88px;
  left: 62px;
  width: 109px;
  height: 30px;
  background-color: #992124;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #992124;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #992124;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #992124;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #992124;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: underline;
  font-family: Roboto-Light,Arial;
  font-size: 14.0pt;
  line-height: 14.0pt;
}
#s-068c35a3-a3eb-4a0e-b3fd-d826c3f09439 #s-Label_5 .valign {
  vertical-align: middle;
}
#s-068c35a3-a3eb-4a0e-b3fd-d826c3f09439 #s-Label_6 {
  position: absolute;
  top: 88px;
  left: 172px;
  width: 90px;
  height: 30px;
  background-color: #992124;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #992124;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #992124;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #992124;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #992124;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: underline;
  font-family: Roboto-Light,Arial;
  font-size: 14.0pt;
  line-height: 14.0pt;
}
#s-068c35a3-a3eb-4a0e-b3fd-d826c3f09439 #s-Label_6 .valign {
  vertical-align: middle;
}
#s-068c35a3-a3eb-4a0e-b3fd-d826c3f09439 #s-Label_7 {
  position: absolute;
  top: 88px;
  left: 263px;
  width: 95px;
  height: 30px;
  background-color: #992124;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #992124;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #992124;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #992124;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #992124;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: underline;
  font-family: Roboto-Light,Arial;
  font-size: 14.0pt;
  line-height: 14.0pt;
}
#s-068c35a3-a3eb-4a0e-b3fd-d826c3f09439 #s-Label_7 .valign {
  vertical-align: middle;
}
#s-068c35a3-a3eb-4a0e-b3fd-d826c3f09439 #s-Image_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 89px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-068c35a3-a3eb-4a0e-b3fd-d826c3f09439 #s-Rich_text_1 {
  position: absolute;
  top: 120px;
  left: 0px;
  width: 264px;
  height: 93px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-068c35a3-a3eb-4a0e-b3fd-d826c3f09439 #s-Rich_text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-068c35a3-a3eb-4a0e-b3fd-d826c3f09439 #s-Rich_text_1 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-068c35a3-a3eb-4a0e-b3fd-d826c3f09439 #s-Rich_text_1 span#rtr-s-Rich_text_1_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-068c35a3-a3eb-4a0e-b3fd-d826c3f09439 #s-Rich_text_2 {
  position: absolute;
  top: 160px;
  left: 62px;
  width: 37px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-068c35a3-a3eb-4a0e-b3fd-d826c3f09439 #s-Rich_text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-068c35a3-a3eb-4a0e-b3fd-d826c3f09439 #s-Rich_text_2 span {
  color: #0000FF;
  text-align: left;
  text-decoration: underline;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-068c35a3-a3eb-4a0e-b3fd-d826c3f09439 #s-Rich_text_2 span#rtr-s-Rich_text_2_0 {
  color: #0000FF;
  text-align: left;
  text-decoration: underline;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-068c35a3-a3eb-4a0e-b3fd-d826c3f09439 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}