#s-ab0788e0-6882-4855-8bd4-5bf94d09ba36 #s-Label_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #992124;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #992124;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #992124;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #992124;
  -ms-transform: rotate(0.0deg);
}
#s-ab0788e0-6882-4855-8bd4-5bf94d09ba36 #s-Label_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #992124;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #992124;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #992124;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #992124;
  -ms-transform: rotate(0.0deg);
}
#s-ab0788e0-6882-4855-8bd4-5bf94d09ba36 #s-Label_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #992124;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #992124;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #992124;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #992124;
  -ms-transform: rotate(0.0deg);
}
#s-ab0788e0-6882-4855-8bd4-5bf94d09ba36 #s-Label_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #992124;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #992124;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #992124;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #992124;
  -ms-transform: rotate(0.0deg);
}
#s-ab0788e0-6882-4855-8bd4-5bf94d09ba36 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-ab0788e0-6882-4855-8bd4-5bf94d09ba36 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-ab0788e0-6882-4855-8bd4-5bf94d09ba36 #s-Label_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #992124;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #992124;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #992124;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #992124;
  -ms-transform: rotate(0.0deg);
}
#s-ab0788e0-6882-4855-8bd4-5bf94d09ba36 #s-Label_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #992124;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #992124;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #992124;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #992124;
  -ms-transform: rotate(0.0deg);
}
#s-ab0788e0-6882-4855-8bd4-5bf94d09ba36 #s-Label_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #992124;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #992124;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #992124;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #992124;
  -ms-transform: rotate(0.0deg);
}
#s-ab0788e0-6882-4855-8bd4-5bf94d09ba36 #s-Label_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #992124;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #992124;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #992124;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #992124;
  -ms-transform: rotate(0.0deg);
}
#s-ab0788e0-6882-4855-8bd4-5bf94d09ba36 #s-Row_cell_1 {
  position: relative;
}
#s-ab0788e0-6882-4855-8bd4-5bf94d09ba36 #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-ab0788e0-6882-4855-8bd4-5bf94d09ba36 #s-Row_cell_3 {
  position: relative;
}
#s-ab0788e0-6882-4855-8bd4-5bf94d09ba36 #s-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#s-ab0788e0-6882-4855-8bd4-5bf94d09ba36 #s-Row_cell_5 {
  position: relative;
}
#s-ab0788e0-6882-4855-8bd4-5bf94d09ba36 #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-ab0788e0-6882-4855-8bd4-5bf94d09ba36 #s-Row_cell_7 {
  position: relative;
}
#s-ab0788e0-6882-4855-8bd4-5bf94d09ba36 #s-Label_12 {
  -ms-transform: rotate(0.0deg);
}
#s-ab0788e0-6882-4855-8bd4-5bf94d09ba36 #s-Row_cell_9 {
  position: relative;
}
#s-ab0788e0-6882-4855-8bd4-5bf94d09ba36 #s-Label_13 {
  -ms-transform: rotate(0.0deg);
}
#s-ab0788e0-6882-4855-8bd4-5bf94d09ba36 #s-Row_cell_11 {
  position: relative;
}
#s-ab0788e0-6882-4855-8bd4-5bf94d09ba36 #s-Label_14 {
  -ms-transform: rotate(0.0deg);
}
#s-ab0788e0-6882-4855-8bd4-5bf94d09ba36 #s-programm .s-Row_cell_2 {
  position: relative;
}
#s-ab0788e0-6882-4855-8bd4-5bf94d09ba36 #s-programm .s-Row_cell_4 {
  position: relative;
}
#s-ab0788e0-6882-4855-8bd4-5bf94d09ba36 #s-programm .s-Row_cell_6 {
  position: relative;
}
#s-ab0788e0-6882-4855-8bd4-5bf94d09ba36 #s-programm .s-Row_cell_8 {
  position: relative;
}
#s-ab0788e0-6882-4855-8bd4-5bf94d09ba36 #s-programm .s-Row_cell_10 {
  position: relative;
}
#s-ab0788e0-6882-4855-8bd4-5bf94d09ba36 #s-programm .s-Row_cell_12 {
  position: relative;
}
.ui-page {
  overflow-x: hidden;
}
#s-ab0788e0-6882-4855-8bd4-5bf94d09ba36 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}